@tailwind base;
@tailwind components;
@tailwind utilities;

/* menerapkan style default untuk elemen tanpa directives */
h3 {
  font-size: 3rem;
}

/* menerapkan style default untuk elemen dengan menggunakan directives */

/* memanipulasi style default daripada suatu element kita bisa mengarahkan directivenya ke base */
@layer base {
  h4 {
    font-size: 2.5rem;
  }

  h5 {
    font-size: 2rem;
  }
  /* jika ingin mendefinisikan nilai berdasarkan nilai-nilai yang dihasilkan dari kelas/utility yang sudah disediakan oleh tailwind, kita bisa menambahkan directives apply untuk melakukan hal tersebut */
  h6 {
    font-size: 1.5rem;
    /* kita juga bisa menggunakan banyak utility sekaligus */
    @apply text-indigo-600 font-semibold tracking-wider;
  }
}

@layer components {
  /* dalam hal ini, kita juga bisa mengimplementasikannya untuk kemudian dijadikan komponen/template yang bisa kita gunakan nantinya kedalam program yang kita buat */
  .btn {
    @apply p-4 font-semibold shadow-lg border-0 my-4 inline-block rounded-lg duration-500;
  }

  .btn-primary {
    @apply bg-indigo-500 text-white shadow-indigo-500/40 hover:bg-indigo-600 hover:-translate-y-1;
  }

  .btn-danger {
    @apply bg-red-500 text-white shadow-red-500/40 hover:bg-red-600 hover:-translate-y-1;
  }

  .btn-warning {
    @apply bg-yellow-500 text-slate-800 shadow-yellow-500/40 hover:bg-yellow-600 hover:-translate-y-1;
  }

  .btn-success {
    @apply bg-emerald-500 text-white shadow-emerald-500/40 hover:bg-emerald-600 hover:-translate-y-1;
  }

  .alert {
    @apply max-w-full p-4
        rounded-lg border
        my-4;
  }

  .alert-danger {
    @apply bg-red-100 text-red-600 border-red-600;
  }
  .alert-success {
    @apply bg-emerald-100 border-emerald-600 border text-emerald-600;
  }
  .alert-warning {
    @apply bg-yellow-100 border-yellow-600 border text-yellow-600;
  }
  .alert-primary {
    @apply bg-indigo-100 border-indigo-600 border text-indigo-600;
  }
  /* kelas/utility 'group' tidak bisa ditambahkan kedalam apply */
}
