<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio | Tailwind CSS</title>

    <!-- Fonts -->
    <!-- Inter -->
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />

    <!-- montserrat -->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <!-- style from tailwind css -->
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body class="font-inter">
    <!-- Header Start -->
    <header
      class="bg-transparent absolute top-0 left-0 w-full flex items-center z-10"
    >
      <div class="container">
        <div class="flex items-center justify-between relative">
          <div class="px-4">
            <a href="#home" class="font-bold text-lg text-primary block py-6"
              >Tyla Claravelya</a
            >
          </div>
          <div class="flex items-center px-4">
            <button
              id="hamburger"
              name="hamburger"
              type="button"
              class="block absolute right-4 lg:hidden"
            >
              <span
                class="hamburger-line transition duration-300 ease-in-out origin-top-left"
              ></span>
              <span
                class="hamburger-line transition duration-300 ease-in-out"
              ></span>
              <span
                class="hamburger-line transition duration-300 ease-in-out origin-bottom-left"
              ></span>
            </button>

            <!-- nav elements -->
            <nav
              id="nav-menu"
              class="hidden absolute py-5 bg-white shadow-lg rounded-lg max-w-[250px] w-full right-4 top-full lg:block lg:static lg:bg-transparent lg:max-w-full lg:shadow-none lg:rounded-none"
            >
              <ul class="block lg:flex">
                <li class="group">
                  <a
                    href="#home"
                    class="text-base text-dark py-2 mx-8 flex group-hover:text-primary capitalize"
                    >Beranda</a
                  >
                </li>
                <li class="group">
                  <a
                    href="#about"
                    class="text-base text-dark py-2 mx-8 flex group-hover:text-primary capitalize"
                    >Tentang Saya</a
                  >
                </li>
                <li class="group">
                  <a
                    href="#portfolio"
                    class="text-base text-dark py-2 mx-8 flex group-hover:text-primary capitalize"
                    >Portfolio</a
                  >
                </li>
                <li class="group">
                  <a
                    href="#client"
                    class="text-base text-dark py-2 mx-8 flex group-hover:text-primary capitalize"
                    >client</a
                  >
                </li>
                <li class="group">
                  <a
                    href="#blog"
                    class="text-base text-dark py-2 mx-8 flex group-hover:text-primary capitalize"
                    >blog</a
                  >
                </li>
                <li class="group">
                  <a
                    href="#contact"
                    class="text-base text-dark py-2 mx-8 flex group-hover:text-primary capitalize"
                    >contact</a
                  >
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- Header End -->

    <!-- Hero Section Start -->
    <section id="home" class="pt-36">
      <div class="container">
        <div class="flex flex-wrap">
          <div class="w-full self-center px-4 lg:w-1/2">
            <h1 class="text-base font-semibold text-primary md:text-xl">
              Halo Semua 👋, Saya
              <span class="block font-bold text-dark text-4xl mt-1 lg:text-5xl"
                >Tyla Windya Claravelya</span
              >
            </h1>
            <h2
              class="font-medium text-secondary text-lg mb-5 mt-1 lg:text-2xl"
            >
              Student & <span class="text-dark">Web Developer</span>
            </h2>
            <!-- leading : mengatur line-height -->
            <p class="font-medium text-slate-400 mb-10 leading-relaxed">
              Belajar web programming itu menyenangkan bukan,
              <span class="text-dark font-bold">Bukan!</span>
            </p>

            <a href="#" class="btn btn-primary">Hubungi Saya</a>
          </div>
          <div class="w-full self-end px-4 lg:w-1/2">
            <div class="relative mt-10 lg:mt-0 lg:right-0">
              <img
                src="../../public/img/none-bg.svg"
                alt="hero-image"
                class="w-full h-full"
              />
              <span
                class="absolute -z-10 bottom-0 left-1/2 -translate-x-1/2 sm:scale-110 sm:bottom-14 md:scale-125 md:-translate-y-16"
              >
                <svg
                  viewBox="0 0 200 200"
                  xmlns="http://www.w3.org/2000/svg"
                  width="480"
                  height="480"
                >
                  <path
                    fill="#F7A92D"
                    d="M44.1,-65C55.6,-52.4,62.3,-37.4,65.1,-22.6C67.9,-7.8,66.8,6.7,60.5,17.7C54.3,28.7,42.9,36,31.9,46.4C21,56.7,10.5,70.2,1.5,68.1C-7.6,66.1,-15.1,48.7,-27.3,38.7C-39.5,28.7,-56.3,26.2,-64.9,17C-73.6,7.8,-74,-8.2,-68.3,-21C-62.5,-33.8,-50.5,-43.5,-38.1,-55.8C-25.7,-68.1,-12.9,-83.1,1.7,-85.5C16.3,-87.9,32.6,-77.6,44.1,-65Z"
                    transform="translate(100 120) scale(1.2) rotate(40)"
                  />
                </svg>
              </span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Hero Section End -->

    <!-- About Section Start -->
    <section id="about" class="pt-36 pb-32">
      <div class="container">
        <div class="flex flex-wrap">
          <div class="w-full px-4 mb-10 lg:w-1/2">
            <h4 class="text-primary font-bold uppercase text-lg mb-4">
              tentang saya
            </h4>
            <h2 class="text-3xl text-dark font-bold mb-4 max-w-md lg:text-4xl">
              Yuk, belajar web programming di WPU!
            </h2>
            <p class="mb-4 text-secondary text-medium max-w-xl lg:text-lg">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam
              quam error, recusandae aliquam ipsa pariatur dolor illo maiores
              tempore voluptates, nobis reprehenderit! Ex autem labore
              necessitatibus molestiae.
            </p>
          </div>
          <div class="w-full px-4 lg:w-1/2 lg:pt-10">
            <h3 class="text-2xl text-dark font-semibold mb-4 lg:text-3xl">
              Mari berteman
            </h3>
            <p class="text-secondary text-base mb-4 lg:text-lg">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
              voluptates sint deleniti ut voluptate. Corrupti facere officia
              voluptatibus, autem vitae at ipsum.
            </p>
            <div class="flex items-center gap-2 mb-4">
              <!-- instagram -->
              <a
                href="#"
                class="p-2 border rounded-full text-light hover:bg-primary hover:text-dark hover:border-dark transition duration-300"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                >
                  <path
                    fill="currentColor"
                    d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3"
                  />
                </svg>
              </a>

              <!-- tiktok -->
              <a
                href="#"
                class="p-2 border rounded-full text-light hover:bg-primary hover:text-dark hover:border-dark transition duration-300"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                >
                  <path
                    fill="currentColor"
                    d="M16.6 5.82s.51.5 0 0A4.28 4.28 0 0 1 15.54 3h-3.09v12.4a2.59 2.59 0 0 1-2.59 2.5c-1.42 0-2.6-1.16-2.6-2.6c0-1.72 1.66-3.01 3.37-2.48V9.66c-3.45-.46-6.47 2.22-6.47 5.64c0 3.33 2.76 5.7 5.69 5.7c3.14 0 5.69-2.55 5.69-5.7V9.01a7.35 7.35 0 0 0 4.3 1.38V7.3s-1.88.09-3.24-1.48"
                  />
                </svg>
              </a>

              <!-- github -->
              <a
                href="#"
                class="p-2 border rounded-full text-light hover:bg-primary hover:text-dark hover:border-dark transition duration-300"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                >
                  <g fill="none">
                    <path
                      d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"
                    />
                    <path
                      fill="currentColor"
                      d="M7.024 2.31a9 9 0 0 1 2.125 1.046A11.4 11.4 0 0 1 12 3c.993 0 1.951.124 2.849.355a9 9 0 0 1 2.124-1.045c.697-.237 1.69-.621 2.28.032c.4.444.5 1.188.571 1.756c.08.634.099 1.46-.111 2.28C20.516 7.415 21 8.652 21 10c0 2.042-1.106 3.815-2.743 5.043a9.5 9.5 0 0 1-2.59 1.356c.214.49.333 1.032.333 1.601v3a1 1 0 0 1-1 1H9a1 1 0 0 1-1-1v-.991c-.955.117-1.756.013-2.437-.276c-.712-.302-1.208-.77-1.581-1.218c-.354-.424-.74-1.38-1.298-1.566a1 1 0 0 1 .632-1.898c.666.222 1.1.702 1.397 1.088c.48.62.87 1.43 1.63 1.753c.313.133.772.22 1.49.122L8 17.98a4 4 0 0 1 .333-1.581a9.5 9.5 0 0 1-2.59-1.356C4.106 13.815 3 12.043 3 10c0-1.346.483-2.582 1.284-3.618c-.21-.82-.192-1.648-.112-2.283l.005-.038c.073-.582.158-1.267.566-1.719c.59-.653 1.584-.268 2.28-.031Z"
                    />
                  </g>
                </svg>
              </a>

              <!-- facebook -->
              <a
                href="#"
                class="p-2 border rounded-full text-light hover:bg-primary hover:text-dark hover:border-dark transition duration-300"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                >
                  <path
                    fill="currentColor"
                    d="M14 13.5h2.5l1-4H14v-2c0-1.03 0-2 2-2h1.5V2.14c-.326-.043-1.557-.14-2.857-.14C11.928 2 10 3.657 10 6.7v2.8H7v4h3V22h4z"
                  />
                </svg>
              </a>

              <!-- twitter -->
              <a
                href="#"
                class="p-2 border rounded-full text-light hover:bg-primary hover:text-dark hover:border-dark transition duration-300"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                >
                  <path
                    fill="currentColor"
                    d="M18.205 2.25h3.308l-7.227 8.26l8.502 11.24H16.13l-5.214-6.817L4.95 21.75H1.64l7.73-8.835L1.215 2.25H8.04l4.713 6.231zm-1.161 17.52h1.833L7.045 4.126H5.078z"
                  />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- About Section End -->

    <!-- Portfolio Section Start -->
    <section id="portfolio" class="pt-36 pb-16 bg-slate-100">
      <div class="container">
        <div class="w-full px-4">
          <div class="max-w-xl mx-auto text-center mb-16">
            <h4 class="font-semibold text-primary text-lg text-center">
              Portfolio
            </h4>
            <h2
              class="font-bold text-dark text-3xl mb-4 sm:text-4xl lg:text-5xl"
            >
              Project Terbaru
            </h2>
            <p class="font-medium text-base text-secondary md:text-lg">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi cum
              est et suscipit laudantium nulla officiis, natus vero ab non.
            </p>
          </div>
        </div>

        <div
          class="w-full px-4 flex flex-wrap justify-center xl:w-10/12 xl:mx-auto"
        >
          <!-- Simonipro -->
          <div class="mb-12 p-4 md:w-1/2">
            <div class="rounded-md shadow-md overflow-hidden">
              <img
                src="../../public/img/portfolio-1.png"
                alt="simonipro"
                class="w-full"
              />
            </div>
            <h3 class="font-semibold text-dark text-xl mt-5 mb-3">
              Website Monitoring Bimbingan Proyek 2
            </h3>
            <p class="font-medium text-base text-secondary">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt ex
              voluptatibus eveniet.
            </p>
          </div>

          <!-- Disunting -->
          <div class="mb-12 p-4 md:w-1/2">
            <div class="rounded-md shadow-md overflow-hidden">
              <img
                src="../../public/img/portfolio-4.png"
                alt="simonipro"
                class="w-full"
              />
            </div>
            <h3 class="font-semibold text-dark text-xl mt-5 mb-3">
              Website Edukasi Stunting
            </h3>
            <p class="font-medium text-base text-secondary">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis
              ratione perferendis repellat cum cumque.
            </p>
          </div>

          <!-- Brawijaya -->
          <div class="mb-12 p-4 md:w-1/2">
            <div class="rounded-md shadow-md overflow-hidden">
              <img
                src="../../public/img/portfolio-2.png"
                alt="simonipro"
                class="w-full"
              />
            </div>
            <h3 class="font-semibold text-dark text-xl mt-5 mb-3">
              Website Brawijaya dengan Bootstrap 5
            </h3>
            <p class="font-medium text-base text-secondary">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut
              molestiae repellat cumque laborum et ipsa nihil.
            </p>
          </div>

          <!-- Laravel 11 -->
          <div class="mb-12 p-4 md:w-1/2">
            <div class="rounded-md shadow-md overflow-hidden">
              <img
                src="../../public/img/portfolio-3.png"
                alt="simonipro"
                class="w-full"
              />
            </div>
            <h3 class="font-semibold text-dark text-xl mt-5 mb-3">
              Website Blog sederhana menggunakan Laravel 11
            </h3>
            <p class="font-medium text-base text-secondary">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt ex
              voluptatibus eveniet.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- Portfolio Section End -->

    <!-- Client Section Start -->
    <section id="client" class="pt-36 pb-32 bg-slate-800">
      <div class="container">
        <div class="w-full px-4">
          <div class="mx-auto text-center mb-16">
            <h4 class="font-semibold text-primary text-lg text-center">
              Clients
            </h4>
            <h2
              class="font-bold text-white text-3xl mb-4 sm:text-4xl lg:text-5xl"
            >
              Yang pernah bekerja sama
            </h2>
            <p class="font-medium text-base text-secondary md:text-lg">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Dignissimos dolor architecto alias.
            </p>
          </div>
        </div>

        <div class="w-full px-4">
          <div class="flex flex-wrap items-center justify-center">
            <a
              href="#"
              class="max-w-[120px] mx-4 py-4 grayscale opacity-60 transition duration-500 hover:grayscale-0 hover:opacity-100 lg:mx-6 xl:mx-8"
            >
              <img src="../../public/img/clients/gojek.svg" alt="gojek" />
            </a>
            <a
              href="#"
              class="max-w-[120px] mx-4 py-4 grayscale opacity-60 transition duration-500 hover:grayscale-0 hover:opacity-100 lg:mx-6 xl:mx-8"
            >
              <img src="../../public/img/clients/blibli.svg" alt="blibli" />
            </a>
            <a
              href="#"
              class="max-w-[120px] mx-4 py-4 grayscale opacity-60 transition duration-500 hover:grayscale-0 hover:opacity-100 lg:mx-6 xl:mx-8"
            >
              <img src="../../public/img/clients/grab.svg" alt="grab" />
            </a>
            <a
              href="#"
              class="max-w-[120px] mx-4 py-4 grayscale opacity-60 transition duration-500 hover:grayscale-0 hover:opacity-100 lg:mx-6 xl:mx-8"
            >
              <img src="../../public/img/clients/google.svg" alt="google" />
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- Client Section End -->

    <!-- section blog start -->
    <section id="blog" class="pt-36 pb-32 bg-slate-100">
      <div class="container">
        <div class="w-full px-4">
          <div class="text-center mb-16">
            <h4 class="font-semibold text-primary text-lg text-center">Blog</h4>
            <h2
              class="font-bold text-dark text-3xl mb-4 sm:text-4xl lg:text-5xl capitalize"
            >
              Tulisan terkini
            </h2>
            <p class="font-medium text-base text-secondary md:text-lg">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Dignissimos dolor architecto alias.
            </p>
          </div>
        </div>

        <div class="flex flex-wrap">
          <!-- blog 1 -->
          <div class="w-full px-4 lg:w-1/2 xl:w-1/3">
            <div class="rounded-lg shadow-sm bg-white overflow-hidden mb-8">
              <img
                src="../../public/img/blog/1.jpg"
                alt="blog-1"
                class="w-full grayscale"
              />
              <div class="py-8 px-6">
                <h3 class="mb-4">
                  <a
                    href="#"
                    class="block text-xl font-bold text-dark capitalize hover:text-primary truncate"
                  >
                    Tips belajar programming
                  </a>
                </h3>
                <p class="text-secondary text-base mb-4">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad,
                  labore distinctio animi ab laborum harum.
                </p>
                <a
                  href="#"
                  class="inline-block font-medium text-sm text-dark px-4 py-3 bg-primary rounded-lg opacity-85 hover:opacity-100 transition duration-300"
                  >Baca selengkapnya</a
                >
              </div>
            </div>
          </div>

          <!-- blog 2 -->
          <div class="w-full px-4 lg:w-1/2 xl:w-1/3">
            <div class="rounded-lg shadow-sm bg-white overflow-hidden mb-8">
              <img
                src="../../public/img/blog/2.jpg"
                alt="blog-1"
                class="w-full"
              />
              <div class="py-8 px-6">
                <h3 class="mb-4">
                  <a
                    href="#"
                    class="block text-xl font-bold text-dark capitalize hover:text-primary truncate"
                  >
                    Mengungkap misteri alam semesta
                  </a>
                </h3>
                <p class="text-secondary text-base mb-4">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad,
                  labore distinctio animi ab laborum harum.
                </p>
                <a
                  href="#"
                  class="inline-block font-medium text-sm text-dark px-4 py-3 bg-primary rounded-lg opacity-85 hover:opacity-100 transition duration-300"
                  >Baca selengkapnya</a
                >
              </div>
            </div>
          </div>

          <!-- blog 3 -->
          <div class="w-full px-4 lg:w-1/2 xl:w-1/3">
            <div class="rounded-lg shadow-sm bg-white overflow-hidden mb-8">
              <img
                src="../../public/img/blog/3.jpg"
                alt="blog-1"
                class="w-full"
              />
              <div class="py-8 px-6">
                <h3 class="mb-4">
                  <a
                    href="#"
                    class="block text-xl font-bold text-dark capitalize hover:text-primary truncate"
                  >
                    Melanjutkan estafet kekuasaan
                  </a>
                </h3>
                <p class="text-secondary text-base mb-4">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad,
                  labore distinctio animi ab laborum harum.
                </p>
                <a
                  href="#"
                  class="inline-block font-medium text-sm text-dark px-4 py-3 bg-primary rounded-lg opacity-85 hover:opacity-100 transition duration-300"
                  >Baca selengkapnya</a
                >
              </div>
            </div>
          </div>

          <!-- blog 4 -->
          <div class="w-full px-4 lg:w-1/2 xl:w-1/3">
            <div class="rounded-lg shadow-sm bg-white overflow-hidden mb-8">
              <img
                src="../../public/img/blog/4.jpg"
                alt="blog-1"
                class="w-full"
              />
              <div class="py-8 px-6">
                <h3 class="mb-4">
                  <a
                    href="#"
                    class="block text-xl font-bold text-dark capitalize hover:text-primary truncate"
                  >
                    Hidup di lingkaran oligarki
                  </a>
                </h3>
                <p class="text-secondary text-base mb-4">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad,
                  labore distinctio animi ab laborum harum.
                </p>
                <a
                  href="#"
                  class="inline-block font-medium text-sm text-dark px-4 py-3 bg-primary rounded-lg opacity-85 hover:opacity-100 transition duration-300"
                  >Baca selengkapnya</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- section blog end -->

    <!-- Section contact start -->
    <section id="contact" class="pt-36 pb-32">
      <div class="container">
        <div class="w-full px-4">
          <div class="text-center mb-16">
            <h4 class="font-semibold text-primary text-lg text-center">
              Contact
            </h4>
            <h2
              class="font-bold text-dark text-3xl mb-4 sm:text-4xl lg:text-5xl capitalize"
            >
              Hubungi Kami
            </h2>
            <p class="font-medium text-base text-secondary md:text-lg">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat
              corrupti explicabo facilis minus magnam voluptates laboriosam.
            </p>
          </div>
        </div>
        <div class="w-full lg:w-2/3 lg:mx-auto">
          <div class="w-full px-4">
            <div class="mb-8">
              <label for="nama">
                <span
                  class="block font-semibold text-base text-primary after:content-['*'] after:text-red-600 after:ml-0.5"
                  >Nama</span
                >
                <input
                  type="text"
                  id="nama"
                  class="w-full px-4 py-3 bg-slate-100 rounded-md focus:outline-none focus:bg-white focus:border focus:border-primary focus:ring-1 focus:ring-primary"
                />
              </label>
            </div>
            <div class="mb-8">
              <label for="email">
                <span
                  class="block font-semibold text-base text-primary after:content-['*'] after:text-red-600 after:ml-0.5"
                  >Email</span
                >
                <input
                  type="email"
                  id="email"
                  class="w-full px-4 py-3 bg-slate-100 rounded-md focus:outline-none focus:bg-white focus:border focus:border-primary focus:ring-1 focus:ring-primary"
                />
              </label>
            </div>
            <div class="mb-8">
              <label for="pesan">
                <span class="block font-semibold text-base text-primary"
                  >Pesan</span
                >
                <textarea
                  name="pesan"
                  id="pesan"
                  class="w-full h-32 px-4 py-3 bg-slate-100 rounded-md focus:outline-none focus:bg-white focus:border focus:border-primary focus:ring-1 focus:ring-primary"
                >
                </textarea>
              </label>
            </div>
            <a
              href="#"
              class="block w-full py-3 text-center text-base font-medium bg-primary rounded-full opacity-80 hover:opacity-100 hover:shadow-sm transition duration-500"
              >Kirim</a
            >
          </div>
        </div>
      </div>
    </section>
    <!-- Section contact end -->

    <!-- Footer start  -->
     <footer id="footer" class="bg-dark pt-36 pb-12">
      <div class="container">
        <div class="flex flex-wrap">
          <div class="w-full px-4 mb-12 md:w-1/3">
            <h2 class="text-4xl font-bold text-white uppercase tracking-widest mb-12">TYCLA</h2>
            <h3 class="text-2xl text-slate-200 font-bold capitalize mb-4">hubungi kami</h3>
            <span class="block text-slate-500 font-medium mb-2">muhamadridwan14@gmail.com</span>
            <span class="block text-slate-500 font-medium mb-2">Jl. Dr. Setiabudi No. 154</span>
            <span class="block text-slate-500 font-medium mb-2">Bandung</span>
          </div>

          <div class="w-full px-4 mb-12 md:w-1/3">
            <h3 class="text-2xl text-slate-200 font-bold capitalize mb-4">kategori tulisan</h3>
            <ul class="text-slate-500">
              <li>
                <a href="#" class="inline-block text-base font-medium mb-2">Programming</a>
              </li>
              <li>
                <a href="#" class="inline-block text-base font-medium mb-2">Teknologi</a>
              </li>
              <li>
                <a href="#" class="inline-block text-base font-medium mb-2">Gaya Hidup</a>
              </li>
            </ul>
          </div>

          <div class="w-full px-4 mb-12 md:w-1/3">
            <h3 class="text-2xl text-slate-200 font-bold capitalize mb-4">tautan</h3>
            <ul class="text-slate-500">
              <li>
                <a href="#home" class="inline-block text-base font-medium mb-2">Beranda</a>
              </li>
              <li>
                <a href="#about" class="inline-block text-base font-medium mb-2">Tentang Saya</a>
              </li>
              <li>
                <a href="#portfolio" class="inline-block text-base font-medium mb-2">Portfolio</a>
              </li>
              <li>
                <a href="#client" class="inline-block text-base font-medium mb-2">Clients</a>
              </li>
              <li>
                <a href="#blog" class="inline-block text-base font-medium mb-2">Blog</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="w-full pt-8 border-t border-slate-800 mb-8">
          <div class="flex items-center justify-center gap-2 mb-12">
            <!-- instagram -->
            <a
              href="#"
              class="p-2 border rounded-full text-light hover:bg-primary hover:text-dark hover:border-dark transition duration-300"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3"
                />
              </svg>
            </a>
  
            <!-- tiktok -->
            <a
              href="#"
              class="p-2 border rounded-full text-light hover:bg-primary hover:text-dark hover:border-dark transition duration-300"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="M16.6 5.82s.51.5 0 0A4.28 4.28 0 0 1 15.54 3h-3.09v12.4a2.59 2.59 0 0 1-2.59 2.5c-1.42 0-2.6-1.16-2.6-2.6c0-1.72 1.66-3.01 3.37-2.48V9.66c-3.45-.46-6.47 2.22-6.47 5.64c0 3.33 2.76 5.7 5.69 5.7c3.14 0 5.69-2.55 5.69-5.7V9.01a7.35 7.35 0 0 0 4.3 1.38V7.3s-1.88.09-3.24-1.48"
                />
              </svg>
            </a>
  
            <!-- github -->
            <a
              href="#"
              class="p-2 border rounded-full text-light hover:bg-primary hover:text-dark hover:border-dark transition duration-300"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
              >
                <g fill="none">
                  <path
                    d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"
                  />
                  <path
                    fill="currentColor"
                    d="M7.024 2.31a9 9 0 0 1 2.125 1.046A11.4 11.4 0 0 1 12 3c.993 0 1.951.124 2.849.355a9 9 0 0 1 2.124-1.045c.697-.237 1.69-.621 2.28.032c.4.444.5 1.188.571 1.756c.08.634.099 1.46-.111 2.28C20.516 7.415 21 8.652 21 10c0 2.042-1.106 3.815-2.743 5.043a9.5 9.5 0 0 1-2.59 1.356c.214.49.333 1.032.333 1.601v3a1 1 0 0 1-1 1H9a1 1 0 0 1-1-1v-.991c-.955.117-1.756.013-2.437-.276c-.712-.302-1.208-.77-1.581-1.218c-.354-.424-.74-1.38-1.298-1.566a1 1 0 0 1 .632-1.898c.666.222 1.1.702 1.397 1.088c.48.62.87 1.43 1.63 1.753c.313.133.772.22 1.49.122L8 17.98a4 4 0 0 1 .333-1.581a9.5 9.5 0 0 1-2.59-1.356C4.106 13.815 3 12.043 3 10c0-1.346.483-2.582 1.284-3.618c-.21-.82-.192-1.648-.112-2.283l.005-.038c.073-.582.158-1.267.566-1.719c.59-.653 1.584-.268 2.28-.031Z"
                  />
                </g>
              </svg>
            </a>
  
            <!-- facebook -->
            <a
              href="#"
              class="p-2 border rounded-full text-light hover:bg-primary hover:text-dark hover:border-dark transition duration-300"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="M14 13.5h2.5l1-4H14v-2c0-1.03 0-2 2-2h1.5V2.14c-.326-.043-1.557-.14-2.857-.14C11.928 2 10 3.657 10 6.7v2.8H7v4h3V22h4z"
                />
              </svg>
            </a>
  
            <!-- twitter -->
            <a
              href="#"
              class="p-2 border rounded-full text-light hover:bg-primary hover:text-dark hover:border-dark transition duration-300"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="M18.205 2.25h3.308l-7.227 8.26l8.502 11.24H16.13l-5.214-6.817L4.95 21.75H1.64l7.73-8.835L1.215 2.25H8.04l4.713 6.231zm-1.161 17.52h1.833L7.045 4.126H5.078z"
                />
              </svg>
            </a>
          </div>
          <p class="text-xs font-medium text-slate-500 capitalize text-center">Dibuat dengan 🤘 oleh <a href="#" class="text-primary">Muhamad Ridwan</a> <br> menggunakan <a href="#" class="text-indigo-600">tailwind CSS</a>.
        </div>

      </div>
     </footer>
    <!-- Footer end  -->

    <script src="../js/script.js"></script>
  </body>
</html>
