<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio | Tailwind CSS</title>

    <!-- style from tailwind css -->
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <!-- Hero Section Start -->
    <section id="home" class="pt-36">
      <div class="container">
        <div class="flex flex-wrap">
          <div class="w-full self-center px-4 lg:w-1/2">
            <h1 class="text-base font-semibold text-primary">
              Halo Semua 👋, Saya
              <span class="block font-bold text-dark text-4xl mt-1"
                >Tyla Windya Claravelya</span
              >
            </h1>
            <h2 class="font-medium text-slate-500 text-lg mb-5">
              Student & <span class="text-dark">Web Developer</span>
            </h2>
            <!-- leading : mengatur line-height -->
            <p class="font-medium text-slate-400 mb-10 leading-relaxed">
              Belajar web programming itu menyenangkan bukan,
              <span class="text-dark font-bold">Bukan!</span>
            </p>

            <a href="#" class="btn btn-primary">Hubungi Saya</a>
          </div>
          <div class="w-full self-end px-4 lg:w-1/2">
            <div
              class="w-full h-full mx-auto bg-[url('../../public/img/none-bg.svg')] bg-center bg-no-repeat bg-cover relative"
            >
              <span class="absolute -z-10">
                <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg" width="400" height="400">
                  <path
                    fill="#F7A92D"
                    d="M44.1,-65C55.6,-52.4,62.3,-37.4,65.1,-22.6C67.9,-7.8,66.8,6.7,60.5,17.7C54.3,28.7,42.9,36,31.9,46.4C21,56.7,10.5,70.2,1.5,68.1C-7.6,66.1,-15.1,48.7,-27.3,38.7C-39.5,28.7,-56.3,26.2,-64.9,17C-73.6,7.8,-74,-8.2,-68.3,-21C-62.5,-33.8,-50.5,-43.5,-38.1,-55.8C-25.7,-68.1,-12.9,-83.1,1.7,-85.5C16.3,-87.9,32.6,-77.6,44.1,-65Z"
                    transform="translate(100 100) scale(1.30) rotate(40)"
                  />
                </svg>
              </span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Hero Section End -->
  </body>
</html>
